.btn-start{
  background-color: #FF6C22;
}

.btn-start:hover{
background-color: #d66024;
}


.btn-log{
  background-color: #FF6C22;
}

.btn-log:hover{
background-color: #d66024;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.vehicle .card {
  box-shadow:2px 2px 6px 0#2B3499;
  padding: 0px;
  text-align: center;
  /* color: #0275d8;     */
  border-radius: 0 !important;
  transition: transform .2s;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vehicle .card:hover{
  box-shadow:0;
  padding: 0px;
  text-align: center;  
  border-radius: 0 !important;
  transform: scale(1.5);
  z-index: 1;
}

.column{
  margin-top: 2vh;
}

.navbar{
  background-color: #FF6C22;
}
/* .navbar .nav-link{
 
} */

/* .bg-waves{
  background-image: url("/assets/images/waves.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
} */

.vision p{
  color:  #000000;
}

/* .vision h2{
  color:  #2B3499;
}

.about h1{
  color:  #2B3499;
} */

/* .about p{
  color: #2B3499;
} */

.contact .form-label{
  color: #000000;

}
.contact .btn{
  background-color: #FF6C22;
  color:  #ffffff;
}

.contact .btn:hover{
  background-color: #d66024;
  color:  #ffffff;
}

.form-check-input:hover{
background-color: #2B3499;
}


/* login */

.login button{
background-color: #FF6C22;
}

.login button:hover{
background-color: #d66024;
}

/* login end */

/* register */

.register button{
background-color: #FF6C22;
border: none!important;
}

.register button:hover{
background-color: #d66024;
}



/* logut ddown */
.logout .dropdown-item{
color:#ffffff;
}

.logout .dropdown-item:hover{
color:#000000;
}


/* vehicle list */
.list #btn_bid {
  background-color: #FF6C22;
  color:white;
  border-color: none !important;
  }
  
  .list #btn_bid:hover{
  background-color: #d66024;
  border-color: none !important;
  }