*{
  padding: none !important;
  margin: none !important;

}



/* logut btn */
.btn-start{
  background-color: #FF6C22;
}

.btn-start:hover{
background-color: #d66024;
}


.btn-log{
  background-color: #FF6C22;
}

.btn-log:hover{
background-color: #d66024;
}

.vision .row{
  background-image: url('/assets/images/waves2.png') !important;
  background-repeat: repeat-x !important;
  background-size: 0vh !important;

  
 
}
.about .col img{
  width: 80vh !important;
  margin-top: 100px !important;
}

/* how to start section */

.start .column img{
  width: 60vh !important;
  
}


/* how to start section end*/


/* Vehicle available */
.vehicle_avail .M .van_img img{
  width: 70vh !important;
}

.vision .col{
  background: rgba(255,255,255,0.5) !important;
  -webkit-backdrop-filter: blur(10px) !important;
backdrop-filter: blur(10px) !important;
border: 1px solid rgba(255,255,255,0.25) !important;
}
/* vehicle column */

#vehicle .card{
 background-color: transparent !important;
}

/* contact */
#contact .animate img{
  width: 40vh !important;
  z-index: inherit !important; 
}

#contact .form{
  background: rgba(255,255,255,0.5) !important;
  -webkit-backdrop-filter: blur(10px) !important;
backdrop-filter: blur(10px) !important;
border: 1px solid rgba(255,255,255,0.25) !important;
 
}
/*Introduction*/

@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  .bg-waves{
    background-image: url('/assets/images/waves1.jpg');
   background-size: 100vh !important;
   background-repeat:repeat-y !important;
    
  }
  

  .bg-cover{
    margin-top: 20px !important;
  }

  html,body{
   overflow-x: hidden;
   scroll-behavior: smooth !important;
    
  }

 
  .vision {
    margin-top: 10 !important;
    padding: 0 !important;
  }

  .vision h1{
    padding-top: 20px !important;
  }


  .start{
    padding: 0 !important;
    margin-top: -150px !important;
  }

  .start .float-end{
    margin: 0 !important;
    padding: 3px !important;
    position: relative;
    bottom: 100px !important;

    
  }
  .start .col img{
   width: 50vh !important;
   justify-content: center;
   margin-top: none !important;
  }

  .about{
      margin-top: 0 !important;
      position: relative;
      top: -100px !important;
  }
  .about .col img{
    width: 50vh !important;
    justify-content: center;
    margin-top: -10px !important;

   
   }
   .about .col .float-end{
    padding: 3px !important;
    font-size: small !important;
   }
   .about .col small{
    font-size: medium;
   }

   #contact .form{
    padding: 0 !important;
    box-shadow: none !important;
    margin-top: -100px;
   }

  .w-xs-50 {
    width: 50% !important;
  }

  #introduction {
    min-height: 50vh !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0% -8vh;
    width: 100%;
  }

  #intro-img-holder {
    top: -29% !important;
  }

  #intro-img {
    width: 95% !important;
    margin-top: 20%!important;
    justify-content: center !important;
    margin-left: 15% !important;
    
  }

  .auctionearTittle{
    position: relative !important;
    top: -100px !important;
  }

  .auctionearTittle h1{
    font-size: 6vh !important;
  }
  .auctionearTittle p{
    font-size: 3vh !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1198.98px) {
  .w-md-50 {
    width: 50% !important;
  }

  .w-md-85 {
    width: 85% !important;
  }

  #introduction {
    background-image: url("https://svgshare.com/i/JsH.svg") !important;
    background-repeat: no-repeat;
    background-position: 8% 112%;
  }
  

  #intro-img-holder {
    top: -13% !important;
    left: 20% !important;
    height: 100% !important;
  }

  #intro-img {
    height: 110% !important;
  }

  .auctionearTittle h1{
    margin-top: 8vh !important;
  }
}
@media only screen and (min-width: 1200px) {
  
  .w-md-50 {
    width: 50% !important;
  }

  .w-md-85 {
    width: 85% !important;
  }

    .intro{
      width: 200vh !important;
      height: 60vh !important;
      
    }
    .bg-waves{
      background-image: url('/assets/images/waves.png');
      background-size: cover !important;
      background-repeat: no-repeat !important;
    }
  #introduction {
   
    background-repeat: no-repeat !important;
    background-position: 11% 112% !important;
    
  }

  #intro-img-holder {
    top: -13% !important;
    left: 17% !important;
    height: 100% !important;
  }

  #intro-img {
    height: 120% !important;
  }

 .auctionearTittle h1{
    margin-top: 5vh !important;
    cursor: default !important;
    font-size: 100px !important;
    
  }

  .auctionearTittle p{
    font-size: 24px !important;
   
  }
}



/* start media */
@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  /* .start
  {
    padding: 0 !important;
    margin-top: -80px !important;
  }
  .start h1
  {
    padding-top: 20px !important;
  } */
  }

  /* about  */
  @media only screen and (min-width: 320px) and (max-width: 767.98px) {
    .about
    {
      margin-top: 40px!important;
      padding: 2px !important;
    }
    .about h1
    {
      padding-top: 20px !important;
    }
    .about .col{
     
    }
    
  }
/* vision page */
@media only screen and (min-width: 320px) and (max-width: 767.98px) {
    .vision{
     position: relative;
     top: -110px !important;
    }
  }

/* viseion page end */
.color-grayish-blue {
  color: #9698a6 !important;
}

#request-invite-btn {
  background-color: #FF6C22 !important;
  font-size: 20px !important;
  display: block;
}


/*  */

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.vehicle .card {
  padding: 0px;
  text-align: center;
  border: none !important;
  background-color: none !important;
  /* color: #0275d8;     */
  transition: transform .2s;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* .bg-image{
  background-color: white !important;
 
} */

@media only screen and (min-width: 320px) and (max-width: 767.98px) {
 #vehicle{
  padding: 0 !important;
 }
  
  }


.navbar{
  z-index:1111111 !important;
  
  
}
/* .navbar .nav-link{
 
} */

/* .bg-waves{
  background-image: url("/assets/images/waves.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* .vision p{
  color:  #000000;
} */

/* .vision h2{
  color:  #2B3499;
}

.about h1{
  color:  #2B3499;
} */

/* .about p{
  color: #2B3499;
} */

.contact .form-label{
  color: #000000;

}
.contact .btn{
  background-color: #FF6C22;
  color:  #ffffff;
}

.contact .btn:hover{
  background-color: #d66024;
  color:  #ffffff;
}

.form-check-input:hover{
background-color: #2B3499;
}


/* login */

.login button{
background-color: #FF6C22;
}

.login button:hover{
background-color: #d66024;
}

/* login end */

/* register */

.register button{
background-color: #FF6C22;
border: none!important;
}

.register button:hover{
background-color: #d66024;
}



/* logut ddown */
.logout .dropdown-item{
color:#ffffff;
}

.logout .dropdown-item:hover{
color:#000000;
}


/* vehicle list */
.list #btn_bid {
  background-color: #FF6C22;
  color:white;
  border-color: none !important;
  }
  
  .list #btn_bid:hover{
  background-color: #d66024;
  border-color: none !important;
  }


  #phone:focus:invalid{
    border-color: red !important;
  }

  #password:focus:invalid{
    border-color: red !important;
  }

  